.card{
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color:rgb(226, 222, 222);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0,0, .5);
    font-size: 15px;
    line-height: 15px;
}
.card:hover{
    /* box-shadow: 0px 8px 4px 2px rgb(5 211 226 / 90%); */
    box-shadow:0px 8px 4px 2px rgb(246, 242, 242);
}

.continent{
    color: rgb(33, 34, 34);
}

.flag{
    height: 60px;
}
