.body {
    background: url('../../assets/31173.jpg') no-repeat center/cover;
    top:0;
    left: 0;
    right: 0;
    color:rgb(255, 254, 254);
    text-shadow: 4px 4px 6px rgb(10, 10, 10);
    text-align: center;
    width:100vw;
    height: 100vh;
    position: absolute;
  }
  .bkg{
    backdrop-filter: blur(12px);
    background-color: #33323215;
    width:140vw;
    height: 120vh;
  }
  .container{
    /* display:flex;
    margin */
    background: url('../../assets/31173.jpg') no-repeat;
    width: 50vw ;
    height: 80vh;
    position: absolute;
    margin: 11vh 0vw;
    top:0;
    background-size: cover;
    border-radius: 1rem;
    background-color: rgba(139, 137, 137, 0.6);
    opacity: 0.8;
  }

  .activities{
    background: url('../../assets/sunset-paddle-2.jpg') no-repeat;
    width: 50vw ;
    height: 70vh;
    position: absolute;
    margin: 0vh 50vw;
    top:0;
    background-size: cover;
    border-radius: 1rem;
    background-color: rgba(139, 137, 137, 0.6);
    color: black;
  }
  .countryContainer h1{
    font-size: 30px;
  }
  .countryContainer h3{
    font-size: 20px;
    text-shadow: rgb(51, 48, 48);
  }

.button{
  margin-top: 100%;
}