.app{
    background-image: url('./assets/photo-1476514525535-07fb3b4ae5f1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;    
    background-position: center;
    background-position: right bottom, left top;
}

.bkg{
    width:100vw;
    height: 100vh;
    backdrop-filter: blur(16px);
    background-color: #41404015 ;
}

.container{
    width: 80vw;
    height: 80vh;
    position: absolute;
    margin: 10vh 10vw;
    top: 0;
    overflow: hidden;
    background-image: url('./assets/photo-1476514525535-07fb3b4ae5f1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.5rem;
}